body{
  
  font-family: 'Open Sans', sans-serif;
}

/***************************************************************/
                         /* Index Page */
/***************************************************************/

#main-container {
	background: linear-gradient(
      rgba(255, 0, 0, 0.6), 
      rgba(255, 0, 0, 0.6)
    ),url('../images/main_background.jpg');
  background-size: cover;
  overflow-y:hidden;
  position: relative;
  width: 100%;
  height: 100vh; 
}

#todo-options {
  height: 100vh;
  left: 50%;
  margin-left: -200px;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 400px;
}

#todo-options a:hover{
  text-decoration: none;
}

.lists{
  background-color: #fff; 
  border: 1px solid grey; 
  color: #000;
  font-weight: 700;
  margin-top: 5px;
  padding: 5px 12px;
  width: 350px;
}

.button {
	display: block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ie-border-radius: 6px;
	border-radius: 6px;
	padding: .48em .8em;
	text-shadow: rgba(0,0,0,.5) 0px -1px 0px;
	font-size: 18px;
	font-weight: 700;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .15s;
	-webkit-transition-timing-function: ease-in-out;
	cursor: pointer;
	text-decoration: none;
	margin-bottom: 20px;
}

.button span {
	vertical-align: middle;
}

.icon {
	width: 26px;
	height: 26px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-ie-border-radius: 13px;
	border-radius: 13px;
	background: rgba(0,0,0,.3);
	float: right;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
	-moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
	-ie-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
}

.arrow {
	margin: 7px 0px 0 8px;
	-webkit-border-style: solid;
	-moz-border-style: solid;
	-ie-border-style: solid;
	border-style: solid;
	border-width:6px 6px 6px 12px;
	width: 0;
	height: 0;
}

.lightbg-blue {
	background-color: #64a8a6;
	color: #dafffe;
	-webkit-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	-ie-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
}

.lightbg-blue:hover {
	background-color: #73c2c0;
}

.lightbg-blue:active {
	background-color: #5a9896;
	-webkit-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
	-ie-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
	box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
}

.lightbg-blue .arrow {
	border-color: transparent transparent transparent #74b6b4;
}
/****************Index Page End******************/